@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
body{
  /*background-color: #313539;*/
  overflow-y: hidden;
  overflow-x: hidden;

 
}
html{
  overflow-y: hidden;
  overflow-x: hidden;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*@keyframes fade {
  from {
    height: 400px;
  }
  to {
    height: 600px;
  }
}*/
.story-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
 
 
  padding-bottom: 105px;
  z-index: 1;
  

}
.story {
  position: relative;
  height: 80vh;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  z-index: 3;
 /*animation:moveleft 1s ease-in infinite;*/
 animation:'';
  
  box-shadow: 5px 5px 5px black;
}
.story:hover {
  transform: scale(1.05);
  transition: transform 0.1s linear;
}

@keyframes move{
0% {
  opacity:0;
  left:300px;
  transform: scale(0.5) translateX(-3)
  
  
}
100% {
 transform:scale(1)  translateX(1)
}
}
@keyframes moveleft{
  0% {
    opacity:0;
    right:300px;
    transform: scale(0.5) translateX(-3)
    
    
  }
  100% {
   transform:scale(1)  translateX(1)
  }
  }


#pause {
  position: absolute;
  font-size:30px;
  color: white;
  height: 50px;
  width: 100px;
  z-index: 10;
  right:2%;
  top:5%;
}
#pause:hover {
  transform:scale(1.2);
  
  color:rgb(0, 255, 213);
}
.active{
 /* background-color:white;*/
 background-color:white;
}

#pagination {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
  position: absolute;
  top: 90%;
  width: 30vw;
  z-index: 10;

 
}
.addop{
  background-color:rgba(29, 24, 24, 0.3);
}
 .page{
  height:5px;
width:90%;
margin-left:5px;




}

.text {
  font-family: "Poppins", cursive;
  position: absolute;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;
  transition: 1s ease-in;
  background: rgb(0, 0, 0, 0.4);
}

.story-side1 img,
.story-side2 img,
.story img {
  position: absolute;
  height: 100%;
  left: 0%;
  width: 100%;
}
.story-side1 {
  position: relative;
  height: 75vh;
  width: 300px;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 55px;
  opacity: 0.2;
  
}
.story-side2 {
  position: relative;
  height: 75vh;
  width: 300px;
  margin-left: 20px;
  margin-right: 150px;
  margin-top: 55px;
  background: black;
  opacity: 0.2;
  z-index: 0;
}

.story-side2:hover,
.story-side1:hover {
  opacity: 0.5;
}

.fa-chevron-circle-left {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 50%;
  left: 5%;
  z-index: 5;
}
.fa-chevron-circle-right {
  right: 5%;
  position: absolute;
  color: white;
  font-size: 40px;
  top: 50%;
  z-index: 5;
}
.fa-chevron-circle-left:hover,
.fa-chevron-circle-right:hover{
  transform:scale(1.5);
  transition :transform 0.1s ;
  cursor: pointer;
}
.fa-times-circle {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 30px;
  color: white;
}
.fa-sync-alt{
  position:absolute;
  left:75%;
  color:white;
  font-size:50px;
  visibility: hidden;
  z-index:10;
}
.fa-sync-alt:hover{
  transform:scale(1.3);
  transition :transform 0.1s ;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .fa-sync-alt{
    color:transparent;
    width:80%;
    left:30%;
    top:0%;
    height:100vh;
    z-index:10;
  }
  .responsive1,
  .responsive2 {
    position: absolute;
    height: 100vh;
    width: 30%;
    z-index: 5;
    display: hidden;
  }
  .fa-chevron-circle-left,
  .fa-chevron-circle-right {
    display: none;
  }
  #pause {
    display: visible;
    font-size:30px;
  }
  #pagination {
top:0%;
width:100%;
  }
  .responsive2 {
    right: 0%;
  }
  .responsive1{
    left:0%;
  }

  .story {
    margin-top:0px;
    width: 100%;
    height:100vh;
  }
  .story-side1,
  .story-side2 {
    display: none;
    
  }
}